body{
    display: flex;
    flex-direction: column;
}
.addpostform{
    height:450px;
    width:600px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.descrip{
    margin-top: 5px;
}
#input1{
    height:150px;
    width:400px;
}
.imag p{
    margin-left: -152px;
}
.imag input{
    margin-left: -152px;
}
.showimage{
    height:200px;
    width:400px;
    border:1px solid white;
    margin-top: 20px; 
    margin-bottom: 10px;  
}
.sayani button{
    margin-bottom: 20px;
}