.msg input{
    height:200px;
    width:300px;
    position: relative;
    top:20px;
}
.all{
    height:max-content;
    width:300px;
    border: 1px solid white;
    background-color: white;
}
.bio{
    display: flex;
}
#xex{
    position: relative;
    top:-5px;
    left:5px;
}
#pp{
    position: relative;
    top:-30px;
}